<footer class="bg-dark text-white pt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <p>&copy; {{currentYear}} {{myName}}</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <p>
                    <a href="https://www.flaticon.com/authors/freepik" title="icons" class="text-white">Icons created by
                        Freepik -
                        Flaticon</a>
                </p>
            </div>
        </div>
    </div>
</footer>