<div class="card" style="width: 18rem;">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>
                <p><span class="badge text-bg-secondary">{{raceDetails.date}}</span></p>
                <legend class="small"><span class="badge text-bg-success">ROUND {{raceDetails.round}}</span>
                </legend>
            </div>
            <div class="country-flag">
                <img class="d-block" [src]="raceDetails.Circuit.Location.countryFlagImg" alt="" width="100%"
                    height="auto">
            </div>
        </div>
        <hr>
        <h5 class="card-title"><strong>{{raceDetails.raceDetailsName}}</strong></h5>
        <em>{{raceDetails.Circuit.circuitName}}</em>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        <hr>
    </div>
    <div style="height: 108px;" class="text-center">
        <img [src]="raceDetails.Circuit.Location.trackLayoutImg" alt="..." height="100%" width="auto">
    </div>
</div>